<div class="<%= 'd-none' if @vote_status %>" id="channel-notification-box">
  <h1>hold your horses. voting for the next track is closed.</h1>
</div>
<div id="channel-container" data-vote-status="<%= @vote_status%>" data-channel-id="<%= @channel.id %>" data-channel-name="<%= @channel.name %>">
  <div id="search-container">
    <%= render partial: 'spotify_search'%>
    <div id="search-results"></div>
  </div>
  <div id="vote-container">
    <h1>your vote:</h1>
    <div id="current-track-results">
      <% if @user_vote.present? %>
        <%= render partial: 'track_card', locals: {voteable: false, track: @user_vote} %>
      <% else %>
        <div class="track-card blank-track-card">
          <h1> n/a </h1>
        </div>
      <% end %>
    </div>
    <h1>in the running:</h1>
    <div id="vote-results">
      <% @current_votes.each do |track| %>
        <%= render partial: 'track_card', locals: {voteable: true, track: track} %>
      <% end %>
    </div>
  </div>
  <div id="current-track-container">
    <h1>currently playing:</h1>
    <div id="current-track-results">
      <% if @current_track.present? %>
        <%= render partial: 'track_card', locals: {voteable: false, track: @current_track} %>
      <% end %>
    </div>
    <h1>up next:</h1>
    <div id="up-next-results">

    </div>
  </div>
</div>