
<%= content_tag(
  :div,
  class: voteable ? "track-card voteable" : "track-card",
  data: track.merge("track-id" => track['id'])
  ) do 
%>
  <img src='<%=track['image_med']['url']%>'>
  <div class="btn vote-btn btn-success btn-xl">Vote</div>
  <div class="vote-container">
    <span>Votes</span>
    <span class="vote-count"><%= track['vote_count'] %></span>
  </div>
  <div class="track-info">
    <div class="track-name"><em>Track: </em><%=track['name']%></div>
    <div class="track-artist"><em>Artist: </em><%=track['artist']%></div>
    <div class="track-album-name"><em>Album: </em><%=track['album_name']%></div>
    <div class="track-duration"><em><%=track['duration_readable']%></em></div>
  </div>
<% end %>


