<!DOCTYPE html>
<html>
  <head>
    <title>SockhopRails</title>
    <%= csrf_meta_tags %>
    <%= javascript_tag "var FORM_AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>

  <body class="<%= controller_name %> <%= action_name%>">
    <div>
      <%= link_to 'home', '/' %> |
      <% if user_signed_in? %>
        <%= link_to current_user.email, current_user %> |
        <%= link_to 'log out', destroy_user_session_path, method: "DELETE" %>
      <% else %>
        <%= link_to 'log in', new_user_session_path %> |
        <%= link_to 'sign up', new_user_registration_path %>
      <% end %>
    </div>
    <div>
      <p class="notice"><%= flash[:notice] %></p>
      <p class="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
